@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root {
    --primary-text-color: #ffffffcc;
    --secondary-text-color: #dfdfdf;
    --accent-color: #FFCD4B;
    --accent-color-dark: #005ab9;
    --body-bg-color: #131313;
} */

:root {
    --primary-text-color: #ffffffcc;
    --secondary-text-color: #dfdfdf;
    --accent-color: #63B7E1;
    --accent-color-dark: #6c5dd3;
    --body-bg-color: #101219;
}

body {
    font-family: "Nunito";
    color: var(--primary-text-color);
    /* background-color: #1e1e1e; */
    background-color: var(--body-bg-color);
}

p {
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}

/* nav {
    background-color: #000000;
    opacity: 0.9;
    box-shadow: 0 0 3px #0000000;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
} */

nav {
    background-color: #000;
    box-shadow: 0 0 3px #000000;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    /* border-bottom: 1px solid #0033ff; */
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 30px;
    border: none;
}

.logo-text h3 {
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
    /* color: #d0d0d0; */
    background: #EABEB9;
    background: linear-gradient(to right, #EABEB9 0%, #63B7E1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

.nav-links ul {
    gap: 15px;
    font-size: 15px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: white;
}

.hover-link:active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    border-radius: 4px;
    outline: none;
    background: none;
    border: 1px solid #ffffffcc;
    color: #ffffffcc;
    padding-inline: 12px;
    font-family: "Nunito";
    margin: 0;
}

.search-button {
    /* background-color: var(--accent-color); */

    background: #EABEB9;
    background: linear-gradient(to bottom left, #EABEB9 0%, #63B7E1 100%);
    color: black;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    font-family: "Nunito";
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}


main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
}

/*remove flex classs from cards-container*/

/* .pintrest {
    columns: 3;
} */

/* .card {
     background-color: #323232; 
    https://cssgradient.io
    background: rgb(28, 28, 28);
    background: linear-gradient(270deg, rgba(28, 28, 28, 1) 0%, rgba(5, 5, 5, 1) 100%);
    width: 360px;
    min-height: 400px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 14px;
    border: 2px solid black;
    margin-bottom: 45px;
    transition: all 0.3s ease;
} */

.card {
    background-color: #1b1d25;
    /*https://cssgradient.io/*/
    width: 360px;
    min-height: 450px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 14px;
    border: 2px solid black;
    margin-bottom: 45px;
    transition: all 0.3s ease;

}

.card:hover {
    box-shadow: 1px 1px 8px black;
    background-color: #1f1f1fcc;
    transform: translateY(-5px);
    border-bottom: 1px solid var(--accent-color);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.card-content h3 {
    font-size: 20px;
    color: #dfdfdf;

    background: #EABEB9;
    background: linear-gradient(to right, #EABEB9 0%, #63B7E1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

p {
    color: #ffffffcc;
}

.news-source {
    margin-block: 12px;
}